input[type=text]{
    border: 1px solid rgb(207, 203, 203);
    width: 500px;
    height: 34px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -40px;
    text-indent: 30px;
    overflow: hidden;
    outline: none;
}
input[type=text]:hover{
    border: 1px solid rgb(231, 228, 228);
    width: 500px;
    height: 34px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -40px;
    box-shadow: -1px 3px  rgb(231, 228, 228);

}
