input[type=text]{
    border: 1px solid rgb(207, 203, 203);
    width: 500px;
    height: 34px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -40px;
    text-indent: 30px;
    overflow: hidden;
    outline: none;
}
input[type=text]:hover{
    border: 1px solid rgb(231, 228, 228);
    width: 500px;
    height: 34px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -40px;
    box-shadow: -1px 3px  rgb(231, 228, 228);

}
header{
    position: absolute;
    top: 0;
    width: 98%;
    display: flex;
    justify-content: flex-end;
   
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
    margin-left: 20px;
}

header ul li a{
    color: #111;
    text-decoration: none;
    font-size: 13px;
}
#li01{
    width: 20px;
    height: 20px;
}
#inp01{
    background: #4584ef;
    border: none;
    outline: none;
    padding: 8px 14px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    border-radius: 3px;
    cursor: pointer;
}
#t01:hover{
    border: 1px solid rgb(209, 205, 205);
    border-radius: 5px;
    width: 120px;
    height: 35px;
    position: absolute;
    background-color: rgb(246, 242, 242);
    top: 50%;
    left: 50%;
    margin-left: -160px;
    margin-top: 20px;
}
#t01{
    border: 1px solid rgb(251, 247, 247);
    width: 120px;
    height: 35px;
    position: absolute;
    display: flex;
    background-color: rgb(246, 242, 242);
    top: 50%;
    left: 50%;
    margin-left: -160px;
    margin-top: 20px;
}
#t02{
    border: 1px solid rgb(251, 247, 247);
    width: 200px;
    height: 35px;
    position: absolute;
    background-color: rgb(246, 242, 242);
    top: 50%;
    left: 50%;
    margin-left: -30px;
    margin-top: 20px;
}
#t02:hover{
    border: 1px solid rgb(209, 205, 205);
    border-radius: 5px;
    width: 200px;
    height: 35px;
    position: absolute;
    background-color: rgb(246, 242, 242);
    top: 50%;
    left: 50%;
    margin-left: -30px;
    margin-top: 20px;
}
#div01{
    width: 250px;
    height: 200;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -170px;
}
#div02{
    width: 300px;
    height: 10px;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -160px;
    margin-top: 60px;
    font-size: 15px;
}
#div02 a:hover{
    text-decoration: underline;
}
a{
    text-decoration:none;
}
.a01{
    color: gray;
}
.a02{
    margin: 300px;
    color: gray;
}
.a03{
    position: fixed;
    right: 140px;
    color: gray;
}
.a04{
    position: fixed;
    right: 80px;
    color: gray;
}
.a05{
    position: fixed;
    right: 20px;
}